
{% load staticfiles %}
<!DOCTYPE html>
<html lang = "es">
  <head>
    <meta charset = "UTF-8">
    <tittle><h1><center>{%block tittle %} Caos Contable {% endblock%}</center></h1></tittle>
    {%block  header%}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
  
      <body>
      
      <div class="topnav" id="myTopnav">
        <a href="/accounts/login">Login</a>
        <a href="{% url 'credito' %}">Cartera</a>
        <a href="/facturacion">Facturacion</a>
        <a href="/inventario">Inventario</a>
        <a href="/javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>   
    
    {% endblock %}

    {% block content%}
    
    {% endblock %}

    

    

    {% block footer%}
    {% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% block  extrajs %}
      {% endblock %}



  </body>
  </html>

