{% load staticfiles %}
<!DOCTYPE html>
<html lang = "es">
  <head>
    <meta charset = "UTF-8">
    <tittle><h1><center>{%block tittle %} Caos Contable {% endblock%}</center></h1></tittle>
    {%block  header%}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
  
      <body>
      
      <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/accounts/login">Login</a>
        <a href="/cartera">Cartera</a>
        <a href="/facturacion">Facturacion</a>
        <a href="/inventario">Inventario</a>
        <a href="/javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>   
    
    {% endblock %}

    {% block content%}

      <h4> Este es el cuerpo de la pagina </h4>
    {% endblock %}

    

    {% block footer%}
    <h4>Este es el pie de pagina de la base</h4>
    {% endblock %}

    {%block  extrajs%}
      {% endblock %}


  </body>
  </html>