{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
<head>
<div class="topnav" id="myTopnav">
              <a href="{% url 'creditos' %}">Creditos</a>
              <a href="{% url 'abono' %}">abonos</a>
              <a href="{% url 'alertas' %}">Alertas</a>
              <a href="#">historial</a>
              </a>
      </div>
</head>

<body>
    
</body>
{% endblock %}

{% block  extrajs %}
<script src="{% static 'cartera/alertas.js' %}"></script>
<script src="http://momentjs.com/downloads/moment.min.js"></script>
{% endblock %}