{% extends 'accounts/base.html' %}
{% load staticfiles %}


{% block content %}
<body>
      <div class="topnav" id="myTopnav">
              <a href="{% url 'creditos' %}">Creditos</a>
              <a href="{% url 'abono' %}">abonos</a>
              <a href="{% url 'alertas' %}">Alertas</a>
              <a href="#">historial</a>
              </a>
      </div>

      <div id="formulario">{% csrf_token %}
            <form action="" method="post">{% csrf_token %}
                    <h3 class="mb-4">añadir credito</h3>
                    {{ creditos_form.as_p }}
                    <p><input type="submit" class="btn btn-primary btn-block" value="Confirmar"></p>
            </form>
        </div>
</body>


{% endblock %}