{% extends 'accounts/base.html' %}

{% block tittle%}

    <title> Opciones de cartera  </title>
{% endblock %}

{% load static %}

{% block footer%}

{% endblock %}

{% block content %}
<body>
      <div class="topnav" id="myTopnav">
              <a href="{% url 'creditos' %}">creditos</a>
              <a href="{% url 'abono' %}">abonos</a>
              <a href="{% url 'alertas' %}">Alertas</a>
              <a href="{% url 'historial' %}">historial</a>
              </a>

      </body>
{% endblock %}
